<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^$ http://draft.siebenlinden.org/? [R=302,L,R]
Redirect 302 index\.php http://draft.siebenlinden.org/
RewriteCond %{REQUEST_URI} ^\/index\.php$
RewriteCond %{QUERY_STRING} ^id=1&L=2$
RewriteRule .* http://draft.siebenlinden.org/en/landing-page/? [R=302,L,R]
RewriteCond %{REQUEST_URI} ^\/index\.php$
RewriteCond %{QUERY_STRING} ^id=53&L=2$
RewriteRule .* http://draft.siebenlinden.org/en/social-life/? [R=302,L,R]
RewriteCond %{REQUEST_URI} ^\/index\.php$
RewriteCond %{QUERY_STRING} ^id=77&L=2$
RewriteRule .* http://draft.siebenlinden.org/en/commitments/? [R=302,L,R]
RewriteCond %{REQUEST_URI} ^\/index\.php$
RewriteCond %{QUERY_STRING} ^id=52&L=2$
RewriteRule .* http://draft.siebenlinden.org/en/ecology/? [R=302,L,R]
RewriteCond %{REQUEST_URI} ^\/index\.php$
RewriteCond %{QUERY_STRING} ^id=55&L=2$
RewriteRule .* http://draft.siebenlinden.org/en/economy/? [R=302,L,R]
RewriteCond %{REQUEST_URI} ^\/index\.php$
RewriteCond %{QUERY_STRING} ^id=20&L=2$
RewriteRule .* http://draft.siebenlinden.org/en/contact/? [R=302,L,R]
RewriteCond %{REQUEST_URI} ^\/index\.php$
RewriteCond %{QUERY_STRING} ^id=84&L=2$
RewriteRule .* http://draft.siebenlinden.org/en/get-to-know-us/? [R=302,L,R]
RewriteCond %{REQUEST_URI} ^\/index\.php$
RewriteCond %{QUERY_STRING} ^id=uebernachtenhtml&L=2$
RewriteRule .* http://draft.siebenlinden.org/en/seminar-and-guest-service/? [R=302,L,R]
http://www.siebenlinden.de/ http://draft.siebenlinden.org/? [R=302,L,R]
RewriteCond %{REQUEST_URI} ^\/index\.php$
?id=1 http://draft.siebenlinden.org/? [R=302,L,R]
RewriteCond %{REQUEST_URI} ^\/index\.php$
?id=2 http://draft.siebenlinden.org/? [R=302,L,R]
RewriteCond %{REQUEST_URI} ^\/index\.php$
?id=3 http://draft.siebenlinden.org/de/seminare/calendar/? [R=302,L,R]
RewriteCond %{REQUEST_URI} ^\/index\.php$
?id=110 http://draft.siebenlinden.org/de/seminare/unser-gaestebetrieb/? [R=302,L,R]
RewriteCond %{REQUEST_URI} ^\/index\.php$
?id=142 http://draft.siebenlinden.org/de/seminare/barrierefreiheit/? [R=302,L,R]
RewriteCond %{REQUEST_URI} ^\/index\.php$
?id=53 http://draft.siebenlinden.org/de/oekodorf/soziales/? [R=302,L,R]
RewriteCond %{REQUEST_URI} ^\/index\.php$
?id=53&L=-1%27 http://draft.siebenlinden.org/de/oekodorf/soziales/? [R=302,L,R]
RewriteCond %{REQUEST_URI} ^\/index\.php$
?id=57&L=-1%27 http://draft.siebenlinden.org/de/oekodorf/soziales/entscheidungsfindung/? [R=302,L,R]
RewriteCond %{REQUEST_URI} ^\/index\.php$
?id=63&L=qyflvfxebu http://draft.siebenlinden.org/de/oekodorf/soziales/kinderjugendliche/? [R=302,L,R]
RewriteCond %{REQUEST_URI} ^\/index\.php$
?id=64&L=qyflvfxebu http://draft.siebenlinden.org/de/oekodorf/soziales/kinderjugendliche/? [R=302,L,R]
RewriteCond %{REQUEST_URI} ^\/index\.php$
?id=67&L=0 http://draft.siebenlinden.org/de/aktuelle-projekte/schulgruendungsversuch-lindenschule/? [R=302,L,R]
RewriteCond %{REQUEST_URI} ^\/index\.php$
?id=95&L=qyflvfxebu http://draft.siebenlinden.org/de/oekodorf/soziales/junge-leute/? [R=302,L,R]
RewriteCond %{REQUEST_URI} ^\/index\.php$
?id=66&L=2%2Ffckeditor%2Feditor%2Ffilemanager%2Fupload%2Ftest.html http://draft.siebenlinden.org/de/oekodorf/kulturweltsicht/kulturelle-selbsversorgung/? [R=302,L,R]
RewriteCond %{REQUEST_URI} ^\/index\.php$
?id=78 http://draft.siebenlinden.org/de/vernetzung/politisches-engagement/? [R=302,L,R]
RewriteCond %{REQUEST_URI} ^\/index\.php$
?id=81&L=%273 http://draft.siebenlinden.org/de/vernetzung/regionales-engagement/? [R=302,L,R]
RewriteCond %{REQUEST_URI} ^\/index\.php$
?id=82&L=qyflvfxebu http://draft.siebenlinden.org/de/vernetzung/forschung/? [R=302,L,R]
RewriteCond %{REQUEST_URI} ^\/index\.php$
?id=83&L=qyflvfxebu http://draft.siebenlinden.org/de/vernetzung/auszeichnungen/? [R=302,L,R]
RewriteCond %{REQUEST_URI} ^\/index\.php$
?id=52&L=2%2Ffckeditor%2Feditor%2Ffilemanager%2Fupload%2Ftest.html http://draft.siebenlinden.org/de/oekodorf/oekologie/? [R=302,L,R]
RewriteCond %{REQUEST_URI} ^\/index\.php$
?id=71&L=fzxwysapzl http://draft.siebenlinden.org/de/oekodorf/oekologie/permakultur/? [R=302,L,R]
RewriteCond %{REQUEST_URI} ^\/index\.php$
?id=70&L=2%27A%3D0%22%22 http://draft.siebenlinden.org/de/oekodorf/oekologie/eigenanbau/? [R=302,L,R]
RewriteCond %{REQUEST_URI} ^\/index\.php$
?id=69&L=2%27A%3D0%22%22 http://draft.siebenlinden.org/de/oekodorf/kulturweltsicht/ernaehrung/? [R=302,L,R]
RewriteCond %{REQUEST_URI} ^\/index\.php$
?id=79&L=2%27A%3D0%22%22 http://draft.siebenlinden.org/de/oekodorf/oekologie/wald/? [R=302,L,R]
RewriteCond %{REQUEST_URI} ^\/index\.php$
?id=68 http://draft.siebenlinden.org/de/oekodorf/oekologie/oekologisch-bauen/? [R=302,L,R]
RewriteCond %{REQUEST_URI} ^\/index\.php$
?id=72 http://draft.siebenlinden.org/de/oekodorf/oekologie/heizen/? [R=302,L,R]
RewriteCond %{REQUEST_URI} ^\/index\.php$
?id=74 http://draft.siebenlinden.org/de/oekodorf/oekologie/wasserkreislauf/? [R=302,L,R]
RewriteCond %{REQUEST_URI} ^\/index\.php$
?id=76 http://draft.siebenlinden.org/de/oekodorf/oekologie/mobilitaet-2/? [R=302,L,R]
RewriteCond %{REQUEST_URI} ^\/index\.php$
?id=55&L=xvirsfqywy http://draft.siebenlinden.org/de/oekodorf/oekonomie/? [R=302,L,R]
RewriteCond %{REQUEST_URI} ^\/index\.php$
?id=141&L=xvirsfqywy http://draft.siebenlinden.org/de/vernetzung/kooperationsprojekte/? [R=302,L,R]
RewriteCond %{REQUEST_URI} ^\/index\.php$
?id=92&L=-1%27 http://draft.siebenlinden.org/de/oekodorf/betriebeprodukte/? [R=302,L,R]
RewriteCond %{REQUEST_URI} ^\/index\.php$
?id=4 http://bildarchiv.siebenlinden.de/? [R=302,L,R]
RewriteCond %{REQUEST_URI} ^\/index\.php$
?id=101 http://draft.siebenlinden.org/de/aktuelle-projekte/news/? [R=302,L,R]
RewriteCond %{QUERY_STRING} ^.(.*)$
RewriteRule ^index\.php$ http://draft.siebenlinden.org/? [R=302,L,R]
RewriteRule ^index\.php$ - [L]
RewriteRule . /index.php [L]
</IfModule>
